footer{

    background-color: #2A4F6E;
    width: 100%;
    height: 230px;
    position: fixed;
      left: 0;
      bottom: 0;

}

.bgr {

    color: #FFF;
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    margin-left:150px;
    font-size: 20px

}

.agr {

    color: #FFF;
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    font-size: 20px

}

footer nav a:hover{

border-bottom: 1px solid #FFF;
cursor: grab;

}

.icon{

    padding: 10px;
    display: inline-flex;
    font-size: 20px;
    width: 30%;

}

ul{

  list-style: none;

}

nav{

  display:flex;

}

.Text{

  text-align: center;
  color: #FFF;
  font-size: 20px

}


a.pic{

background: url(fb_gray.png); 
display: block; 
width: 64px; 
height: 64px; 
margin: 10px;
}

a.pic:hover {

background: url(fb.png); 

}

a.pic2{

  background: url(insta_gray.png); 
  display: block; 
  width: 64px; 
  height: 64px; 
  margin: 10px;

  }

  a.pic2:hover {

  background: url(insta.png); 

  }

  a.pic3{

    background: url(youtube_gray.png); 
    display: block;
    width: 64px; 
    height: 64px;
    margin: 10px;

    }

    a.pic3:hover {

    background: url(youtube.png); 

    }