figure{
    border: 2px solid grey;

    border-radius: 20px;

    padding: 10px;

    width: 130px;

    height: 160px;

    display: inline-block;
    margin: 10px;

    max-width: 1000px;
}

figcaption{

    padding: 15px 5%;

    text-align: center;
    font-weight: bold;

}